In [2]:
import pandas as pd

# Read in the CSV file
df = pd.read_csv("DataFiles/NormalizedData.csv").drop("Protein",axis=1)
df.head(2)

,DTP,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,Trans_Helices_31
0,0,0.201217,0.049898,0.135014,0.192164,0.606348,0.082153,0.072733,0.316374,0.157088,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.377079,0.074389,0.150936,0.184124,0.210396,0.157443,0.081300,0.219536,0.214624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
from imblearn.over_sampling import SMOTE

# Separate the target column from the rest of the data
X = df.drop("DTP", axis=1)
y = df["DTP"]

# Create the SMOTE object
sm = SMOTE(sampling_strategy="minority", random_state=42)
X_resampled, y_resampled = sm.fit_resample(X, y)

In [11]:
# Combine the resampled data into a single dataframe
resampled_df = pd.concat([pd.DataFrame(y_resampled),pd.DataFrame(X_resampled)], axis=1)

# Rename the last column as "Class"
resampled_df.rename(columns={resampled_df.columns[-1]: "DTP"}, inplace=True)

# Check the head of the resampled data
resampled_df.head(2)

,DTP,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,DTP
0,0,0.201217,0.049898,0.135014,0.192164,0.606348,0.082153,0.072733,0.316374,0.157088,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.377079,0.074389,0.150936,0.184124,0.210396,0.157443,0.081300,0.219536,0.214624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
resampled_df.shape

(10752, 283)

In [13]:
from pathlib import Path 

filepath = Path('DataFiles/SMOTE_data.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
resampled_df.to_csv(filepath, index=False)